<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PMsys.Properties.Settings.PMSYSDBConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=J:\Projects\PMSYS\PMsys\PMSYSDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMsys.Properties.Settings.PMSYSDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=J:\Projects\PMSYS\PMsys\PMSYSDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMsys.Properties.Settings.PMSYSDBConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=J:\Projects\PMSYS\PMsys\PMSYSDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMsys.Properties.Settings.PMSYSDBConnectionString3"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=J:\Projects\PMSYS\PMsys\PMSYSDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMsys.Properties.Settings.PMSYSDBConnectionString4"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PMSYSDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>